@import '../../../../theme/theme';

.Contrast {
    background-color: GetColorTheme(MainContrast);
}

.NonContrast { 
    background-color: GetColorTheme(Main);
}

.ModalContainer {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    width: 100%;
    background-color: rgba($color: #ffff, $alpha: 0.2);
    position: absolute;
    z-index: 1;
    padding: 25px;
    .FoodModal {
        display: flex;
        flex-flow: column;
        margin: auto;
        justify-content: space-evenly;
        min-height: 30vh;
        max-height: 50vh;
        background-color: GetColorTheme(Main);
        border-radius: 15px;
        .Label {
            margin: 0 auto;
        }
        .ModalButtonGroup {
            display: flex;
            margin: auto;
            .Button {
                margin: auto 2px;
            }
        }
    }
    
    .ItemModal {
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        margin: auto;
        padding: 15px;
        border-radius: 15px;
        min-width: 40vh;
        max-width: 40vh;
        min-height: 30vh;
        max-height: 50vh;
        background-color: GetColorTheme(Main);
        .Label {
            margin: 0 auto;
        }
        .ModalButtonGroup {
            display: flex wrap;
            margin: 5px auto;
            .Button {
                margin: 2px 2px;
                min-width: 100px;
                max-width: 100px;
            }
        }
    }

    .ModifyItemModal {
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        margin: auto;
        padding: 15px;
        border-radius: 15px;
        min-width: 50vh;
        max-width: 50vh;
        min-height: 30vh;
        max-height: 50vh;
        background-color: GetColorTheme(Main);
        .Textfield {
            margin: 5px auto;
        }
        .ModalButtonGroup {
            display: flex wrap;
            margin: 5px auto;
            .Button {
                margin: 2px 2px;
                min-width: 120px;
                max-width: 120px;
            }
        }
    }

    .TransactionModal {
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        margin: auto;
        padding: 15px;
        border-radius: 15px;
        min-width: 30vh;
        max-width: 50vh;
        min-height: 80vh;
        background-color: GetColorTheme(Main);
        .Label {
            margin: 0 auto;
        }
        .OrderedItemsContainer {
            display: flex;
            flex-flow: column;
            margin: auto;
            border-radius: 10px;
            min-width: 40vh;
            max-width: 45vh;
            min-height: 50vh;
            max-height: 50vh;
            overflow-y: scroll;
            background-color: GetColorTheme(MainContrast);
        }
        .ModalButtonGroup {
            display: flex wrap;
            margin: 5px auto;
            .Button {
                margin: 2px 2px;
                min-width: 120px;
                max-width: 120px;
            }
        }
    }

    .CheckoutModal {
        display: flex;
        flex-flow: column;
        margin: auto;
        border-radius: 15px;
        min-width: 35vh;
        max-width: 55vh;
        min-height: 70vh;
        background-color: GetColorTheme(MainContrast);        
        .CheckoutContainer {
            padding: 15px;
            display: flex;
            flex-flow: column;
            background-color: GetColorTheme(Base);
            min-height: 60%;
            min-width: inherit;
            justify-content: space-between;
            border-radius: 15px;
            .ModalList {
                min-width: inherit;
                min-height: 50vh;
                max-height: 50vh;
                overflow-y: scroll;
            }
            .ModalButtonGroup {
                display: flex wrap;
                margin: 5px auto;
                .Button {
                    margin: 2px 2px;
                    min-width: 120px;
                    max-width: 120px;
                }
            }
        }
        
    }

    .NewItemModal {
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        margin: auto;
        padding: 15px;
        border-radius: 15px;
        min-width: 50%;
        max-width: 50vh;
        min-height: 80vh;
        background-color: GetColorTheme(Main);
        .ModalButtonGroup {
            display: flex wrap;
            margin: 5px auto;
            .Button {
                margin: 2px 2px;
                min-width: 120px;
                max-width: 120px;
            }
        }
    }
}